<div class="container-fluid">
  <div class="row">
    <md-toolbar color="primary">

    <span>MyCompany</span>
    <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
    
    </md-toolbar>
    <md-menu #appMenu="mdMenu">
      <button md-menu-item> Settings </button>
      <button md-menu-item> Help </button>
    </md-menu>
  </div>
  
  <div class="row">
    <!-- <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1">
      
    </div> -->
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let data of (myData ? myData.slice(0,10): []); let i = index">
      <md-card class="example-card" >

      <!-- <img md-card-image src="{{ data.url }}">// -->
      <!-- <img md-card-image src="{{ data.url.toString().replace('600','800') }}"> -->
      <img md-card-image src="{{ ChangeSize(data.url.toString(),700 ) }}">
      <md-card-header>
        <md-card-title>{{ data.title }}</md-card-title>
      </md-card-header>

      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    
      </md-card>
    </div>
    <!-- <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"> -->
      
    <!-- </div> -->
  </div>
  

  
</div>